@import "ed-grid";
@import "_global";

body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background: radial-gradient($radial-inicial, $radial-final);

  nav {
    padding-top: 2em;
    position: absolute;
    transition: 1s all ease-in;
    z-index: 100;
    width: 100%;
    img {
      max-height: 10em;
    }

    > .ed-item {
      &:first-child {
        justify-content: flex-start;
      }
    }

    a {
      font-size: 12.5px;
      color: #fff;
    }

    @include hasta(web) {
      > .ed-item {
        &:first-child {
          order: 2;
        }
        &:nth-child(2) {
          order: 3;
          justify-content: center;
        }
        &:nth-child(3) {
          display: none;
          align-items: flex-start;
          position: fixed;
          z-index: 5;
          order: 1;
          min-height: 100vh;
          background: rgba(rgb(70, 180, 103) /*$verde*/, 0.9);
          margin: 0;
          padding: 0;
          .ed-menu {
            width: 100%;
            li {
              border-bottom: 1px solid #fff;
              padding: 0em 0;
              font-size: 12.5px;
              &:first-child {
                a {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  font-size: 12.5px;
                }
              }
              ul {
                width: 100%;
                position: relative;
                li {
                  font-size: 12.5px;
                  padding-left: 1em;
                  &:last-child {
                    border-bottom: 0px;
                  }
                }
              }
            }
          }
        }
        &:last-child {
          order: 4;
          justify-content: flex-end;
        }
      }
    }
  }

  .sticky {
    padding-top: 0.8em;
    align-items: flex-start !important;
    min-height: 7em;
    position: fixed;
    top: 0;
    background-size: 100% 100%;
    //ENCABEZADO DE COLOR EN EL NAV
    background-image: url("../img/logos/IMAGEN-HEADER.png");
    background-repeat: no-repeat;
    height: auto;
    img {
      max-height: 8em !important;
    }

    a {
      color: #fff !important;
    }

    #acreditacion {
      @include desde(web) {
        padding-top: 1em;
      }
    }

    .ed-menu {
      z-index: 5;
      font: size 12.5px;
      > li {
        font-size: 12.5px;
        border-bottom: 0px solid rgb(0, 103, 221) !important;
        padding: 0.85em 0;
        @include hasta(web) {
          border-bottom: 1px solid rgb(0, 103, 221) !important;
          font-size: 12.5px;
        }
        a {
          font-size: 12.5px;
          @include hasta(web) {
            color: #fff !important;
            font-size: 25px;
          }
        }
        ul {
          font-size: 12.5px;
          background: rgba(black, 0.2);
          @include hasta(web) {
            background: rgba($verde, 0.9);
          }
        }
      }
    }
  }

  footer {
    align-self: flex-end;
    width: 100%;
    .ed-container {
      .ed-item {
        justify-content: flex-start;
        .social-net {
          height: 2em;
        }
      }
    }

    p {
      font-size: 15px;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
      color: $titulo-parrafo2;
      font-size: 0.8em;
      a {
        font-size: 15px;
        color: $titulo-parrafo2;
        text-decoration: none;
      }
    }

    @include hasta(web) {
      > .ed-container {
        > .ed-item {
          &:nth-child(2) {
            order: 2;
            padding-bottom: 1em;
          }

          &:last-child {
            order: 1;
            width: 50%;
            margin-left: 25%;
          }
        }
      }
    }
  }
}
