//Paleta de colores
//LA VARIABLE VERDE ES EL COLO DE LOS MICRO MENUS del index
$verde:rgb(0, 103, 221);
//$verde: #253a52;

$radial-inicial: #ffffff; 
$radial-final: rgb(179, 222, 247);

$titulo-pagina: rgb(0, 0, 0);
$titulo-parrafo: rgb(0, 0, 0);
$titulo-parrafo2: rgb(0, 0, 0);
$texto-parrafo: #666666;
 
$verde-adm: red;
//$verde-adm: #253a52;   
$celeste: #badfe7;
$rojo: #c1272d;  