@import "_global";
@import "_body";
@import "ed-grid";

body {
  .contenido {
    h1,
    h2,
    span,
    p {
      color: #000;
      font-size: 0.9em;
      margin: 0;
      padding: 0;
      text-align: justify;
      width: 100%;
    }
  }

  @include desde(web) {
    overflow: auto;
  }

  @include hasta(web) {
    .ancla,
    .ancla2 {
      display: none;
    }
  }

  .ancla,
  .ancla2 {
    color: #fff;
    font-size: 5em;
  }

  .ancla2 {
    color: #000;
  }

  header {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    @include hasta(web) {
      background-size: 140% 100%;
    }

    @include hasta(tablet) {
      background-size: 200% 100%;
    }

    #header {
      background: rgba(black, 0.4);
      min-height: 100vh;
    }
    .ed-item {
      padding: 0;
      .flecha {
        position: absolute;
        align-self: flex-end;
      }
      .slider {
        position: absolute;
        z-index: -1;
        width: 100%;
        img {
          height: 100vh;
          width: 120%;
        }
      }
      .description {
        text-align: center;
      }
      .logo-espoch {
        margin-top: 5em;
        img {
          height: 8em;
        }
      }

      h1,
      h2,
      span {
        color: #fff;
        font-size: 25px;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
      }

      h2 {
        font-size: 1.8em;
        font-weight: normal;
      }
      span {
        font-size: 1.6em;
      }

      @include hasta(tablet) {
        h1 {
          font-size: 2.7em;
        }
        h2 {
          font-size: 1.5em;
        }
        span {
          font-size: 1.2em;
        }
      }

      @include hasta(movil) {
        h1 {
          font-size: 1.7em;
        }
        h2 {
          font-size: 1em;
        }
        span {
          font-size: 0.85em;
        }
      }

      &:first-child {
        // padding-top: 5em;
        min-height: 85vh;
      }
      // &:last-child{
      // 	min-height: 15vh;
      // }
    }
  }

  main {
    width: 100%;
    .main__content {
      .content__table {
        align-content: center;
        background: rgb(243, 243, 243);
        color: rgb(0, 0, 0);
        .table__head {
          padding: 1em;
          background: rgb(0, 103, 221);
          color: rgb(255, 255, 255);
          font-size: 0.8em;
        }
        .data__info {
          border: 1em solid $verde;
          text-align: center;
          font-size: 0.8em;
          td {
            padding: 1em;
          }
        }
      }
    }
    .action__form {
      .form__container {
        padding-bottom: 1em;

        .container__label {
          // width: 20%;
          font-size: 1em;
          font-weight: bold;
        }
        .container__item {
          input[type="text"],
          input[type="tel"],
          select,
          textarea,
          input[type="email"],
          input[type="password"] {
            width: 100%;
            border-radius: 0.5em;
            padding: 0.5em;
            outline: none;
          }
          input[type="file"] {
            padding: 1em;
            outline: none;
          }
          img {
            width: 100px;
            height: 100px;
            background: #4d4d4d;
          }
        }
        #mensaje {
          color: $rojo;
        }
      }
      .form__button {
        padding-top: 0.5em;
        width: 50%;
        padding-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        .button__save {
          input[type="submit"] {
            width: 10em;
            background: rgb(55, 103, 236);
            color: rgb(255, 255, 255);
            padding: 0.5em 0;
            border: none;
            margin-left: auto;
            margin-right: auto;
          }
          input[type="submit"]:hover {
            cursor: pointer;
          }
        }
        .button__cancel {
          input[type="button"] {
            width: 10em;
            background: rgb(0, 103, 221);
            color: rgb(255, 253, 253);
            padding: 0.5em 0;
            border: none;
            margin-left: auto;
            margin-right: auto;
          }
          input[type="button"]:hover {
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
    article {
      //min-height: 100vh;
      padding-top: 4em;

      @include desde(web) {
        padding: 4em 2em;
      }

      h3,
      h4 {
        margin: 0;
        padding: 0;
      }

      h3 {
        color: $titulo-pagina;
        font-size: 25px;
        padding: 0.5em 0;
        margin-top: auto;
      }

      h4 {
        color: $titulo-parrafo;
      }
      p,
      span,
      a {
        color: #666666;
        margin: 0;
        font-size: 15px;
      }
      p {
        text-align: justify;
      }
      span {
        text-align: right;
        width: 100%;
      }

      .noticia {
        margin-bottom: 1em;
        h4,
        p {
          padding: 0.5em 0;
        }
      }

      .autoridad {
        p,
        span {
          color: $titulo-parrafo;
          text-align: center;
          width: 100%;
        }

        span {
          font-weight: bold;
        }

        a {
          display: block;

          span,
          img {
            width: 7em;
            height: 7em;
            object-fit: cover;
          }

          span {
            color: #fff;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease-in;
            i {
              display: none;
            }
            &:hover {
              background: rgba(black, 0.3);
            }
            &:hover > i {
              display: block;
            }
          }
        }
      }
    }

    #mision-vision,
    #mision {
      p {
        font-size: 0.9em;
      }
    }

    #autoridades-aso {
      h3 {
        font-size: 25px;
      }

      h4 {
        padding-bottom: 0.5em;
      }

      @include desde(web) {
        padding: 2em 6em;
      }
      .autoridad {
        padding-bottom: 1em;
        p,
        span {
          color: $titulo-parrafo;
          text-align: center;
          width: 100%;
          font-size: 0.9em;
        }

        a {
          display: block;
          font-size: 15px;
          span,
          img {
            width: 4em;
            height: 4em;
          }

          span {
            color: #fff;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease-in;
            i {
              display: none;
            }
            &:hover {
              background: rgba(black, 0.3);
            }
            &:hover > i {
              display: block;
            }
          }
        }
      }

      #contactos-aso {
        .ed-container {
          .ed-item {
            &:first-child {
              outline: 1px solid $verde;
              h5 {
                text-align: center;
              }
            }
            &:last-child {
              margin-top: 1em;
              padding: 0.5em;
              background: $verde;
              span,
              a {
                color: #fff;
              }

              span {
                display: flex;
                justify-content: space-around;
                align-items: center;
              }
            }
          }
        }
      }
    }

    #ofertas,
    #noticia {
      #paginacion {
        .pagination {
          text-align: center;
          list-style: none;
          margin: 0;
          padding: 0;
          overflow: hidden;

          li {
            list-style-type: none;
            font-weight: bold;
            float: left;
            width: 20%;
            font-size: 15px;
            span {
              color: $verde;
              display: block;
              padding: 0.3em;
              text-decoration: none;
              font-size: 15px;
            }
            a {
              color: $verde;
              display: block;
              padding: 0.3em;
              text-decoration: none;
              font-size: 15px;
            }
          }
        }
      }

      @include hasta(web) {
        padding: $padding;
      }
      .noticia {
        h4,
        p {
          width: 100%;
        }
      }
    }

    #contactos,
    #descargas,
    #grupos,
    #informes,
    #mision,
    #proyecto,
    #objetivos,
    #funciones,
    #proyectos,
    #modalidad-estudio,
    #autoridades-aso,
    #noticias-facultad,
    #noticia-facultad,
    #galeria {
      p {
        color: $titulo-parrafo2;
        font-size: 0.8em;
        padding-bottom: 0.5em;
        width: 100%;
        &:last-child {
          padding-bottom: 3em;
        }
      }

      @include hasta(web) {
        iframe {
          width: 100%;
        }
      }
    }

    #grupos {
      img {
        height: 10em;
      }
    }

    .tituloimg {
      background: black;
      h3 {
        color: #fff;
      }
    }

    .imgesc {
      border: 2px solid black;
    }

    #proyecto {
      h1 {
        color: rgb(0, 0, 0);
      }
    }

    #facultad-proyectos {
      padding-top: 7.5em;
      .proyecto {
        h2 {
          color: rgb(0, 0, 0);
        }
        margin-bottom: 0.5em;
        .ed-item {
          img {
            border: 1px solid black;
            padding: 0.5em;
          }
          p {
            margin: 0.5em 0.5em;
          }
          span {
            width: 100%;
            text-align: right;
          }
        }
      }

      .paginacion {
        text-align: center;
        font-weight: bold;
        margin: 0.5em 0.5em;
        font-size: 1.5em;
        a {
          &:first-child {
            text-decoration: underline;
          }
        }
      }
    }

    #descargas {
      .descarga {
        margin-bottom: 2em;
        .ed-container {
          border: 2px solid black;
          .ed-item {
            padding: 0.5em 1em;
            &:first-child {
              padding: 0;
            }
          }
          h4 {
            padding: 0.5em 0.2em;
            width: 100%;
            background: black;
            color: #fff;
            text-align: center;
          }
          i {
            margin-right: 0.5em;
          }
        }
      }
    }

    #informes {
      padding: 0em 0em;
      .pagination {
        display: flex;
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
          list-style-type: none;
          font-weight: bold;
          float: left;
          width: 20%;
          span {
            color: $verde;
            display: block;
            padding: 0.3em;
            text-decoration: none;
          }
          a {
            color: $verde;
            display: block;
            padding: 0.3em;
            text-decoration: none;
          }
        }
      }
      .informe {
        margin-bottom: 1em;
        font-size: 0.96em;
        border: 1px solid $verde-adm;
        margin: 1em;
        .ed-item {
          padding: 0.25em 0.5em;
          &:first-child {
            padding: 0;
          }
        }
        h4 {
          font-weight: lighter;
          padding: 0.5em 0.5em;
          width: 100%;
          color: #000;
          text-align: justify;
        }
        i {
          margin-right: 0.5em;
        }
      }
    }

    #funciones {
      padding-top: 6em;
      ul {
        margin: 0.5em 0.5em;
        padding: 0;
        font-size: 0.8em;
        list-style: none;
        li {
          line-height: 1.5;
        }
      }
    }

    #proyectos {
      padding-top: 7em;
      .proyecto {
        margin-bottom: 0.5em;
        .ed-container {
          border: 2px solid black;
          .ed-item {
            &:first-child {
              height: 7em;
            }
            &:last-child {
              height: 3em;
              background: black;
              a {
                color: #fff;
              }
            }
            img {
              height: 6em;
            }
            a {
              width: 100%;
              font-size: 0.9em;
              text-align: center;
            }
          }
        }
      }
    }

    #modalidad-estudio,
    #funciones {
      p,
      h4 {
        padding-bottom: 0.5em;
      }
    }

    #mision-vision,
    #mision,
    #vision,
    #objetivos,
    #campo-ocupacional,
    #perfil-profesional,
    #publicacion {
      p,
      h4 {
        padding-top: 0.5em;
        padding-bottom: 1.5em;
      }
    }

    #publicacion {
      //width: 1024px;
      min-height: 15em;
      margin: 0 auto;
      padding: 0;
      outline: 1px solid $verde;
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      ul {
        padding: 0;
        //width: 1024px*3 ;
        min-height: 15em;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        li {
          padding: 1em;
          margin: 0 auto;
          //width: 1024px;
          img {
            width: 100%;
            max-height: 10em;
          }
        }
      }
    }

    #publicacion-nav {
      ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        li {
          padding: 0 0.5em;
        }
      }
    }

    #noticias-facultad {
      #paginacion {
        .pagination {
          text-align: center;
          list-style: none;
          margin: 0;
          padding: 0;
          overflow: hidden;

          li {
            list-style-type: none;
            font-weight: bold;
            float: left;
            width: 20%;
            span {
              color: $verde;
              display: block;
              padding: 0.3em;
              text-decoration: none;
            }
            a {
              color: $verde;
              display: block;
              padding: 0.3em;
              text-decoration: none;
            }
          }
        }
      }

      @include desde(web) {
        padding: 4em 8em;
        max-height: 88vh;
      }

      .noticia-facultad {
        .ed-item {
          background: rgb(230, 230, 230);
          height: 12.5em;
          width: 12.5em;
          h4,
          p {
            color: rgb(0, 0, 0);
          }
          h4 {
            text-align: center;
          }
          margin-bottom: 1em;
        }

        a {
          display: none;
          background: rgba(black, 0.3);
          position: absolute;
          height: 12.5em;
          width: 12.5em;
          color: #fff;
        }

        &:hover > a {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }

      #principal {
        .ed-item {
          height: 25em;
          width: 25em;
        }
        a {
          height: 25em;
          width: 25em;
        }
      }
    }

    #noticia-facultad {
      padding-top: 5em;
      .ed-item {
        &:nth-child(3) {
          span {
            width: 100%;
            padding: 0.5em 0;
            text-align: right;
            color: $verde;
            font-size: 1em;
            i {
              color: $verde;
            }
          }
        }
      }
      h3 {
        text-align: right;
        padding: 0.5em 0;
      }
      img {
        max-height: 22em;
        width: auto;
        float: left;
        padding-right: 1.5em;
      }
      p {
        font-size: 1em;
      }
      .fb-share-button {
        margin: 2em;
      }
    }

    #galeria {
      > .ed-item {
        padding: 1em;
      }
      .imagen {
        .ed-container {
          height: 15em;
          width: 20em;
          margin-bottom: 2em;
          border: 2px solid black;

          .ed-item {
            span {
              font-weight: bold;
              font-size: 1.2em;
              color: black;
              width: 100%;
              text-align: center;
              padding: 0.5em 0;
            }
            img {
              width: 100%;
              height: 10em;
            }
          }

          a {
            display: none;
            background: rgba(black, 0.3);
            position: absolute;
            height: 15em;
            width: 20em;
            color: #fff;
          }

          &:hover > a {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }

      #paginacion {
        .pagination {
          text-align: center;
          list-style: none;
          margin: 0;
          padding: 0;
          overflow: hidden;

          li {
            list-style-type: none;
            font-weight: bold;
            float: left;
            width: 20%;
            span {
              color: $verde;
              display: block;
              padding: 0.3em;
              text-decoration: none;
            }
            a {
              color: $verde;
              display: block;
              padding: 0.3em;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .noticia__item_pequena {
    height: 6em;
    width: auto;
    object-fit: cover;
  }
  #revistas {
    .revista__item {
      height: 18em;
      .item__portada {
        height: 18em;
        width: auto;
        border: 1px solid #efefef;
      }
      .revista_description {
        width: 100%;
        text-align: center;
        color: #000;
        font-weight: bold;
        .icon__pdf {
          height: 1.2em;
        }
      }
    }
  }
  #ofertas {
    display: flex;
    justify-content: center;
    .proyecto {
      flex-wrap: nowrap;
      .contenido {
        display: flex;
        justify-content: space-around;
        &_imagen {
          .img_oferta {
            height: 20em;
            width: auto;
            object-fit: contain;
            width: auto;
          }
        }
        &_informacion {
          padding: 0 8em;
          width: 100%;
          justify-content: center;
          span {
            text-decoration: underline;
          }
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      width: 40%;
    }
  }
}
