@charset "UTF-8";
/**
  EDgrid es una librería CSS para construir layouts con Responsive Web Design
  Importe este archivo en su proyecto para empezar a usarlo
**/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

body.dev:before,
body.desarrollo:before, body.dev .ed-container:before,
body.desarrollo .ed-container:before, body.dev .ed-item:before,
body.desarrollo .ed-item:before {
  content: attr(class);
  font-style: italic;
  font-size: 0.75rem;
  font-weight: normal;
  z-index: 1;
  right: 0;
  position: absolute;
  display: table;
  width: 100%;
  padding: 0 0.3125em;
  height: 1.25rem;
  line-height: 1.25rem; }

.ed-container, body header .page__header, body main .page__main, body main .main__logo .main__title, body main .main__logo .form__login, body main .page__register, body main .page__register .register__form .form__container, body main .page__register .register__form .form__container .container__item, body main .page__register .register__form .form__container .form__button, body footer .page__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.ed-item, body header .page__header .header__img, body main .main__logo, body main .main__logo .form__login .login__item, body main .main__logo .form__login .login__item1, body main .main__logo .form__login .login__item2, body main .main__logo .form__login .login__item3, body main .main__logo .form__login .login__item4, body main .page__register .register__title, body main .page__register .register__form, body footer .page__footer .footer__title, body footer .page__footer .footer__info {
  margin: 0;
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.ed-item {
  width: 100%; }
  .ed-item.ed-container {
    padding-left: 0;
    padding-right: 0; }

/*
| Mixin para crear cuadriculas
|
| $selector: nombre del selector CSS de cada item de la cuadricula
|
| $gutter: separación entre cada item de la cuadricula (opcional)
|
*/
.button,
button, .button.round,
button.round, .button.radius,
button.radius {
  display: inline-block;
  line-height: 2.5em;
  padding: 0 1.5em;
  cursor: pointer;
  margin-bottom: 1em;
  border: none; }

.s-offset-5 {
  margin-left: 5%; }

.s-offset-10 {
  margin-left: 10%; }

.s-offset-15 {
  margin-left: 15%; }

.s-offset-20 {
  margin-left: 20%; }

.s-offset-25 {
  margin-left: 25%; }

.s-offset-30 {
  margin-left: 30%; }

.s-offset-35 {
  margin-left: 35%; }

.s-offset-40 {
  margin-left: 40%; }

.s-offset-45 {
  margin-left: 45%; }

.s-offset-50 {
  margin-left: 50%; }

.s-offset-55 {
  margin-left: 55%; }

.s-offset-60 {
  margin-left: 60%; }

.s-offset-65 {
  margin-left: 65%; }

.s-offset-70 {
  margin-left: 70%; }

.s-offset-75 {
  margin-left: 75%; }

.s-offset-80 {
  margin-left: 80%; }

.s-offset-85 {
  margin-left: 85%; }

.s-offset-90 {
  margin-left: 90%; }

.s-offset-95 {
  margin-left: 95%; }

.s-offset-100 {
  margin-left: 100%; }

.s-offset-1-3 {
  margin-left: 33.33333%; }

.s-offset-2-3 {
  margin-left: 66.66667%; }

.s-offset-3-3 {
  margin-left: 100%; }

.s-offset-1-6 {
  margin-left: 16.66667%; }

.s-offset-2-6 {
  margin-left: 33.33333%; }

.s-offset-3-6 {
  margin-left: 50%; }

.s-offset-1-8 {
  margin-left: 12.5%; }

.s-offset-2-8 {
  margin-left: 25%; }

.s-offset-3-8 {
  margin-left: 37.5%; }

@media all and (min-width: 768px) {
  .m-offset-5 {
    margin-left: 5%; }
  .m-offset-10 {
    margin-left: 10%; }
  .m-offset-15 {
    margin-left: 15%; }
  .m-offset-20 {
    margin-left: 20%; }
  .m-offset-25 {
    margin-left: 25%; }
  .m-offset-30 {
    margin-left: 30%; }
  .m-offset-35 {
    margin-left: 35%; }
  .m-offset-40 {
    margin-left: 40%; }
  .m-offset-45 {
    margin-left: 45%; }
  .m-offset-50 {
    margin-left: 50%; }
  .m-offset-55 {
    margin-left: 55%; }
  .m-offset-60 {
    margin-left: 60%; }
  .m-offset-65 {
    margin-left: 65%; }
  .m-offset-70 {
    margin-left: 70%; }
  .m-offset-75 {
    margin-left: 75%; }
  .m-offset-80 {
    margin-left: 80%; }
  .m-offset-85 {
    margin-left: 85%; }
  .m-offset-90 {
    margin-left: 90%; }
  .m-offset-95 {
    margin-left: 95%; }
  .m-offset-100 {
    margin-left: 100%; }
  .m-offset-1-3 {
    margin-left: 33.33333%; }
  .m-offset-2-3 {
    margin-left: 66.66667%; }
  .m-offset-3-3 {
    margin-left: 100%; }
  .m-offset-1-6 {
    margin-left: 16.66667%; }
  .m-offset-2-6 {
    margin-left: 33.33333%; }
  .m-offset-3-6 {
    margin-left: 50%; }
  .m-offset-1-8 {
    margin-left: 12.5%; }
  .m-offset-2-8 {
    margin-left: 25%; }
  .m-offset-3-8 {
    margin-left: 37.5%; } }

@media all and (min-width: 1024px) {
  .l-offset-5 {
    margin-left: 5%; }
  .l-offset-10 {
    margin-left: 10%; }
  .l-offset-15 {
    margin-left: 15%; }
  .l-offset-20 {
    margin-left: 20%; }
  .l-offset-25 {
    margin-left: 25%; }
  .l-offset-30 {
    margin-left: 30%; }
  .l-offset-35 {
    margin-left: 35%; }
  .l-offset-40 {
    margin-left: 40%; }
  .l-offset-45 {
    margin-left: 45%; }
  .l-offset-50 {
    margin-left: 50%; }
  .l-offset-55 {
    margin-left: 55%; }
  .l-offset-60 {
    margin-left: 60%; }
  .l-offset-65 {
    margin-left: 65%; }
  .l-offset-70 {
    margin-left: 70%; }
  .l-offset-75 {
    margin-left: 75%; }
  .l-offset-80 {
    margin-left: 80%; }
  .l-offset-85 {
    margin-left: 85%; }
  .l-offset-90 {
    margin-left: 90%; }
  .l-offset-95 {
    margin-left: 95%; }
  .l-offset-100 {
    margin-left: 100%; }
  .l-offset-1-3 {
    margin-left: 33.33333%; }
  .l-offset-2-3 {
    margin-left: 66.66667%; }
  .l-offset-3-3 {
    margin-left: 100%; }
  .l-offset-1-6 {
    margin-left: 16.66667%; }
  .l-offset-2-6 {
    margin-left: 33.33333%; }
  .l-offset-3-6 {
    margin-left: 50%; }
  .l-offset-1-8 {
    margin-left: 12.5%; }
  .l-offset-2-8 {
    margin-left: 25%; }
  .l-offset-3-8 {
    margin-left: 37.5%; } }

@media all and (min-width: 1440px) {
  .xl-offset-5 {
    margin-left: 5%; }
  .xl-offset-10 {
    margin-left: 10%; }
  .xl-offset-15 {
    margin-left: 15%; }
  .xl-offset-20 {
    margin-left: 20%; }
  .xl-offset-25 {
    margin-left: 25%; }
  .xl-offset-30 {
    margin-left: 30%; }
  .xl-offset-35 {
    margin-left: 35%; }
  .xl-offset-40 {
    margin-left: 40%; }
  .xl-offset-45 {
    margin-left: 45%; }
  .xl-offset-50 {
    margin-left: 50%; }
  .xl-offset-55 {
    margin-left: 55%; }
  .xl-offset-60 {
    margin-left: 60%; }
  .xl-offset-65 {
    margin-left: 65%; }
  .xl-offset-70 {
    margin-left: 70%; }
  .xl-offset-75 {
    margin-left: 75%; }
  .xl-offset-80 {
    margin-left: 80%; }
  .xl-offset-85 {
    margin-left: 85%; }
  .xl-offset-90 {
    margin-left: 90%; }
  .xl-offset-95 {
    margin-left: 95%; }
  .xl-offset-100 {
    margin-left: 100%; }
  .xl-offset-1-3 {
    margin-left: 33.33333%; }
  .xl-offset-2-3 {
    margin-left: 66.66667%; }
  .xl-offset-3-3 {
    margin-left: 100%; }
  .xl-offset-1-6 {
    margin-left: 16.66667%; }
  .xl-offset-2-6 {
    margin-left: 33.33333%; }
  .xl-offset-3-6 {
    margin-left: 50%; }
  .xl-offset-1-8 {
    margin-left: 12.5%; }
  .xl-offset-2-8 {
    margin-left: 25%; }
  .xl-offset-3-8 {
    margin-left: 37.5%; } }

.s-order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.s-order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.s-order-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }

.s-order-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4; }

.s-order-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5; }

.s-order-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6; }

.s-order-7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7; }

.s-order-8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8; }

.s-order-9 {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  order: 9; }

.s-order-10 {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10; }

@media screen and (min-width: 768px) {
  .m-order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .m-order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .m-order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .m-order-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .m-order-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .m-order-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .m-order-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .m-order-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .m-order-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .m-order-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; } }

@media screen and (min-width: 1024px) {
  .l-order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .l-order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .l-order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .l-order-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .l-order-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .l-order-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .l-order-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .l-order-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .l-order-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .l-order-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; } }

@media screen and (min-width: 1440px) {
  .xl-order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .xl-order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .xl-order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .xl-order-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .xl-order-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .xl-order-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .xl-order-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .xl-order-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .xl-order-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .xl-order-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; } }

.s-justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media all and (min-width: 768px) {
  .m-justify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media all and (min-width: 1024px) {
  .l-justify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media all and (min-width: 1440px) {
  .xl-justify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.s-distribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

@media all and (min-width: 768px) {
  .m-distribute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media all and (min-width: 1024px) {
  .l-distribute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media all and (min-width: 1440px) {
  .xl-distribute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

.s-main-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

@media all and (min-width: 768px) {
  .m-main-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; } }

@media all and (min-width: 1024px) {
  .l-main-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; } }

@media all and (min-width: 1440px) {
  .xl-main-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; } }

.s-main-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

@media all and (min-width: 768px) {
  .m-main-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media all and (min-width: 1024px) {
  .l-main-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media all and (min-width: 1440px) {
  .xl-main-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.s-main-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

@media all and (min-width: 768px) {
  .m-main-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }

@media all and (min-width: 1024px) {
  .l-main-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }

@media all and (min-width: 1440px) {
  .xl-main-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }

.s-cross-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

@media all and (min-width: 768px) {
  .m-cross-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; } }

@media all and (min-width: 1024px) {
  .l-cross-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; } }

@media all and (min-width: 1440px) {
  .xl-cross-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; } }

@media all and (min-width: 480px) {
  .s-cross-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; } }

@media all and (min-width: 768px) {
  .m-cross-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; } }

@media all and (min-width: 1024px) {
  .l-cross-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; } }

@media all and (min-width: 1440px) {
  .xl-cross-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; } }

.s-cross-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end; }

@media all and (min-width: 768px) {
  .m-cross-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; } }

@media all and (min-width: 1024px) {
  .l-cross-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; } }

@media all and (min-width: 1440px) {
  .xl-cross-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; } }

.s-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

@media all and (min-width: 768px) {
  .m-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

@media all and (min-width: 1024px) {
  .l-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

@media all and (min-width: 1440px) {
  .xl-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

.s-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

@media all and (min-width: 768px) {
  .m-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media all and (min-width: 1024px) {
  .l-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media all and (min-width: 1440px) {
  .xl-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.s-column-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

@media all and (min-width: 768px) {
  .m-column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

@media all and (min-width: 1024px) {
  .l-column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

@media all and (min-width: 1440px) {
  .xl-column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

.grid-container.grid-1234 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.5em;
  margin-right: -0.5em; }
  .grid-container.grid-1234 img {
    display: block; }
  body {
    overflow-x: hidden; }
  .grid-container.grid-1234 > .grid-item {
    width: calc(100% - 1em);
    margin: 0.5em; }
  @media screen and (min-width: 768px) {
    .grid-container.grid-1234 > .grid-item {
      width: calc(50% - 1em); } }
  @media screen and (min-width: 1024px) {
    .grid-container.grid-1234 > .grid-item {
      width: calc(33.33333% - 1em); } }
  @media screen and (min-width: 1440px) {
    .grid-container.grid-1234 > .grid-item {
      width: calc(25% - 1em); } }

.grid-container.grid-2345 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.5em;
  margin-right: -0.5em; }
  .grid-container.grid-2345 img {
    display: block; }
  body {
    overflow-x: hidden; }
  .grid-container.grid-2345 > .grid-item {
    width: calc(50% - 1em);
    margin: 0.5em; }
  @media screen and (min-width: 768px) {
    .grid-container.grid-2345 > .grid-item {
      width: calc(33.33333% - 1em); } }
  @media screen and (min-width: 1024px) {
    .grid-container.grid-2345 > .grid-item {
      width: calc(25% - 1em); } }
  @media screen and (min-width: 1440px) {
    .grid-container.grid-2345 > .grid-item {
      width: calc(20% - 1em); } }

body.dev,
body.desarrollo {
  margin: 0 !important;
  position: relative;
  top: 66px; }
  body.dev:before,
  body.desarrollo:before {
    position: fixed;
    background: steelblue;
    color: #FFF;
    font-size: 0.875rem;
    text-align: center;
    line-height: 36px;
    height: 36px;
    top: 0; }
  body.dev:before,
  body.desarrollo:before {
    content: "ed-grid: size s, from 480px (ed-containers: red, ed-items: blue, yellow)"; }
  @media screen and (min-width: 768px) {
    body.dev:before,
    body.desarrollo:before {
      content: "ed-grid: size m, from 768px (ed-containers: red, ed-items: blue, yellow)"; } }
  @media screen and (min-width: 1024px) {
    body.dev:before,
    body.desarrollo:before {
      content: "ed-grid: size l, from 1024px (ed-containers: red, ed-items: blue, yellow)"; } }
  @media screen and (min-width: 1440px) {
    body.dev:before,
    body.desarrollo:before {
      content: "ed-grid: size xl, from 1440px (ed-containers: red, ed-items: blue, yellow)"; } }
  body.dev .ed-container,
  body.desarrollo .ed-container {
    padding-top: 1.25rem;
    margin-bottom: 10px;
    outline: 1px solid tomato;
    position: relative; }
    body.dev .ed-container .ed-container,
    body.desarrollo .ed-container .ed-container {
      margin-bottom: 0; }
    body.dev .ed-container:before,
    body.desarrollo .ed-container:before {
      top: 0;
      background: rgba(255, 99, 71, 0.3);
      color: tomato; }
  body.dev .ed-item,
  body.desarrollo .ed-item {
    position: relative;
    padding-bottom: 1.25rem;
    background-color: rgba(255, 255, 0, 0.3);
    background-clip: content-box; }
    body.dev .ed-item:before,
    body.desarrollo .ed-item:before {
      background: rgba(70, 130, 180, 0.8);
      color: #FFF;
      bottom: 0; }
    body.dev .ed-item:nth-child(even):before,
    body.desarrollo .ed-item:nth-child(even):before {
      background: rgba(70, 130, 180, 0.4);
      color: steelblue; }

.button,
button {
  background: steelblue;
  color: #333; }
  .button:hover,
  button:hover {
    background: #d0d0d0;
    text-decoration: none; }
  .button:active,
  button:active {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97); }
  .button.round,
  button.round {
    background: steelblue;
    color: #333;
    border-radius: 1.25em; }
    .button.round:hover,
    button.round:hover {
      background: #d0d0d0;
      text-decoration: none; }
    .button.round:active,
    button.round:active {
      -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
      transform: scale(0.97); }
  .button.radius,
  button.radius {
    background: steelblue;
    color: 333;
    border-radius: .25em; }
    .button.radius:hover,
    button.radius:hover {
      background: #d0d0d0;
      text-decoration: none; }
    .button.radius:active,
    button.radius:active {
      -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
      transform: scale(0.97); }

.ed-menu.s-horizontal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .ed-menu.s-horizontal, .ed-menu.s-horizontal ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
  .ed-menu.s-horizontal li {
    position: relative;
    list-style: none;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }
    .ed-menu.s-horizontal li.parent-submenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .ed-menu.s-horizontal li.parent-submenu a {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto; }
  .ed-menu.s-horizontal ul {
    display: none; }
    .ed-menu.s-horizontal ul.show-submenu {
      display: block;
      width: 100%;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      margin-left: 1em;
      margin-bottom: .5em; }
  .ed-menu.s-horizontal a {
    display: block;
    line-height: 3em;
    padding: 0 1em; }
    .ed-menu.s-horizontal a:hover {
      text-decoration: none; }
  .ed-menu.s-horizontal a {
    text-align: center; }
  .ed-menu.s-horizontal .expand {
    display: none; }
  .ed-menu.s-horizontal ul {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    white-space: nowrap; }
    .ed-menu.s-horizontal ul a {
      text-align: left; }
    .ed-menu.s-horizontal ul ul {
      top: 0;
      left: 100%; }
  .ed-menu.s-horizontal li:hover > ul {
    display: block; }
  .ed-menu.s-horizontal .expand-submenu {
    display: none;
    position: relative;
    right: 0;
    width: 3em;
    height: 3em;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .ed-menu.s-horizontal .expand-submenu::after {
      content: "";
      position: absolute;
      width: 40%;
      height: 40%;
      top: 20%;
      left: 30%;
      border-left: 0.45em solid;
      border-bottom: 0.45em solid;
      border-radius: 0.24em;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .ed-menu.s-horizontal .expand-submenu.active {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .ed-menu.s-horizontal.default {
    background: #eee; }
    .ed-menu.s-horizontal.default li:hover {
      background: rgba(0, 0, 0, 0.1); }
    .ed-menu.s-horizontal.default ul {
      background: #e1e1e1; }
    .ed-menu.s-horizontal.default a {
      color: #666; }
  .ed-menu.s-horizontal.nav-bar {
    background: #EEE;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .ed-menu.s-horizontal.nav-bar li:hover {
      background: rgba(0, 0, 0, 0.1); }
    .ed-menu.s-horizontal.nav-bar ul {
      background: #e1e1e1; }
    .ed-menu.s-horizontal.nav-bar a {
      color: #666; }
    .ed-menu.s-horizontal.nav-bar li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .ed-menu.s-horizontal.nav-bar li:last-child {
        border-right: none;
        border-bottom: none; }
    .ed-menu.s-horizontal.nav-bar ul {
      border: 1px solid rgba(0, 0, 0, 0.1); }
      .ed-menu.s-horizontal.nav-bar ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        .ed-menu.s-horizontal.nav-bar ul li:last-child {
          border-bottom: none; }
    .ed-menu.s-horizontal.nav-bar > li {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: none; }
  .ed-menu.s-horizontal.button-bar li {
    margin-bottom: .5em;
    margin-right: .5em; }
  .ed-menu.s-horizontal.button-bar a {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #EEE;
    line-height: 2.5em;
    padding: 0 1.5em;
    border-radius: 4px;
    color: #666; }
    .ed-menu.s-horizontal.button-bar a:hover {
      background: rgba(0, 0, 0, 0.1); }

.ed-menu.m-horizontal {
  width: 100%; }
  .ed-menu.m-horizontal, .ed-menu.m-horizontal ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
  .ed-menu.m-horizontal li {
    position: relative;
    list-style: none;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }
    .ed-menu.m-horizontal li.parent-submenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .ed-menu.m-horizontal li.parent-submenu a {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto; }
  .ed-menu.m-horizontal ul {
    display: none; }
    @media screen and (max-width: 767px) {
      .ed-menu.m-horizontal ul.show-submenu {
        display: block;
        width: 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        margin-left: 1em;
        margin-bottom: .5em; } }
  .ed-menu.m-horizontal a {
    display: block;
    line-height: 3em;
    padding: 0 1em; }
    .ed-menu.m-horizontal a:hover {
      text-decoration: none; }
  @media screen and (min-width: 768px) {
    .ed-menu.m-horizontal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .ed-menu.m-horizontal a {
        text-align: center; }
      .ed-menu.m-horizontal .expand {
        display: none; }
      .ed-menu.m-horizontal ul {
        position: absolute;
        left: 0;
        top: 100%;
        min-width: 100%;
        white-space: nowrap; }
        .ed-menu.m-horizontal ul a {
          text-align: left; }
        .ed-menu.m-horizontal ul ul {
          top: 0;
          left: 100%; }
      .ed-menu.m-horizontal li:hover > ul {
        display: block; } }
  .ed-menu.m-horizontal .expand-submenu {
    position: relative;
    right: 0;
    width: 3em;
    height: 3em;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    @media screen and (min-width: 768px) {
      .ed-menu.m-horizontal .expand-submenu {
        display: none; } }
    .ed-menu.m-horizontal .expand-submenu::after {
      content: "";
      position: absolute;
      width: 40%;
      height: 40%;
      top: 20%;
      left: 30%;
      border-left: 0.45em solid;
      border-bottom: 0.45em solid;
      border-radius: 0.24em;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .ed-menu.m-horizontal .expand-submenu.active {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .ed-menu.m-horizontal.default {
    background: #eee; }
    .ed-menu.m-horizontal.default li:hover {
      background: rgba(0, 0, 0, 0.1); }
    .ed-menu.m-horizontal.default ul {
      background: #e1e1e1; }
    .ed-menu.m-horizontal.default a {
      color: #666; }
  .ed-menu.m-horizontal.nav-bar {
    background: #EEE;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .ed-menu.m-horizontal.nav-bar li:hover {
      background: rgba(0, 0, 0, 0.1); }
    .ed-menu.m-horizontal.nav-bar ul {
      background: #e1e1e1; }
    .ed-menu.m-horizontal.nav-bar a {
      color: #666; }
    .ed-menu.m-horizontal.nav-bar li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .ed-menu.m-horizontal.nav-bar li:last-child {
        border-right: none;
        border-bottom: none; }
    .ed-menu.m-horizontal.nav-bar ul {
      border: 1px solid rgba(0, 0, 0, 0.1); }
      .ed-menu.m-horizontal.nav-bar ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        .ed-menu.m-horizontal.nav-bar ul li:last-child {
          border-bottom: none; }
    @media screen and (min-width: 768px) {
      .ed-menu.m-horizontal.nav-bar > li {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: none; } }
  .ed-menu.m-horizontal.button-bar li {
    margin-bottom: .5em;
    margin-right: .5em; }
  .ed-menu.m-horizontal.button-bar a {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #EEE;
    line-height: 2.5em;
    padding: 0 1.5em;
    border-radius: 4px;
    color: #666; }
    .ed-menu.m-horizontal.button-bar a:hover {
      background: rgba(0, 0, 0, 0.1); }

.ed-menu.l-horizontal {
  width: 100%; }
  .ed-menu.l-horizontal, .ed-menu.l-horizontal ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
  .ed-menu.l-horizontal li {
    position: relative;
    list-style: none;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }
    .ed-menu.l-horizontal li.parent-submenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .ed-menu.l-horizontal li.parent-submenu a {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto; }
  .ed-menu.l-horizontal ul {
    display: none; }
    @media screen and (max-width: 1023px) {
      .ed-menu.l-horizontal ul.show-submenu {
        display: block;
        width: 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        margin-left: 1em;
        margin-bottom: .5em; } }
  .ed-menu.l-horizontal a {
    display: block;
    line-height: 3em;
    padding: 0 1em; }
    .ed-menu.l-horizontal a:hover {
      text-decoration: none; }
  @media screen and (min-width: 1024px) {
    .ed-menu.l-horizontal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .ed-menu.l-horizontal a {
        text-align: center; }
      .ed-menu.l-horizontal .expand {
        display: none; }
      .ed-menu.l-horizontal ul {
        position: absolute;
        left: 0;
        top: 100%;
        min-width: 100%;
        white-space: nowrap; }
        .ed-menu.l-horizontal ul a {
          text-align: left; }
        .ed-menu.l-horizontal ul ul {
          top: 0;
          left: 100%; }
      .ed-menu.l-horizontal li:hover > ul {
        display: block; } }
  .ed-menu.l-horizontal .expand-submenu {
    position: relative;
    right: 0;
    width: 3em;
    height: 3em;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    @media screen and (min-width: 1024px) {
      .ed-menu.l-horizontal .expand-submenu {
        display: none; } }
    .ed-menu.l-horizontal .expand-submenu::after {
      content: "";
      position: absolute;
      width: 40%;
      height: 40%;
      top: 20%;
      left: 30%;
      border-left: 0.45em solid;
      border-bottom: 0.45em solid;
      border-radius: 0.24em;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .ed-menu.l-horizontal .expand-submenu.active {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .ed-menu.l-horizontal.default {
    background: #eee; }
    .ed-menu.l-horizontal.default li:hover {
      background: rgba(0, 0, 0, 0.1); }
    .ed-menu.l-horizontal.default ul {
      background: #e1e1e1; }
    .ed-menu.l-horizontal.default a {
      color: #666; }
  .ed-menu.l-horizontal.nav-bar {
    background: #EEE;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .ed-menu.l-horizontal.nav-bar li:hover {
      background: rgba(0, 0, 0, 0.1); }
    .ed-menu.l-horizontal.nav-bar ul {
      background: #e1e1e1; }
    .ed-menu.l-horizontal.nav-bar a {
      color: #666; }
    .ed-menu.l-horizontal.nav-bar li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .ed-menu.l-horizontal.nav-bar li:last-child {
        border-right: none;
        border-bottom: none; }
    .ed-menu.l-horizontal.nav-bar ul {
      border: 1px solid rgba(0, 0, 0, 0.1); }
      .ed-menu.l-horizontal.nav-bar ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        .ed-menu.l-horizontal.nav-bar ul li:last-child {
          border-bottom: none; }
    @media screen and (min-width: 1024px) {
      .ed-menu.l-horizontal.nav-bar > li {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: none; } }
  .ed-menu.l-horizontal.button-bar li {
    margin-bottom: .5em;
    margin-right: .5em; }
  .ed-menu.l-horizontal.button-bar a {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #EEE;
    line-height: 2.5em;
    padding: 0 1.5em;
    border-radius: 4px;
    color: #666; }
    .ed-menu.l-horizontal.button-bar a:hover {
      background: rgba(0, 0, 0, 0.1); }

.ed-menu.xl-horizontal {
  width: 100%; }
  .ed-menu.xl-horizontal, .ed-menu.xl-horizontal ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
  .ed-menu.xl-horizontal li {
    position: relative;
    list-style: none;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }
    .ed-menu.xl-horizontal li.parent-submenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .ed-menu.xl-horizontal li.parent-submenu a {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto; }
  .ed-menu.xl-horizontal ul {
    display: none; }
    @media screen and (max-width: 1439px) {
      .ed-menu.xl-horizontal ul.show-submenu {
        display: block;
        width: 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        margin-left: 1em;
        margin-bottom: .5em; } }
  .ed-menu.xl-horizontal a {
    display: block;
    line-height: 3em;
    padding: 0 1em; }
    .ed-menu.xl-horizontal a:hover {
      text-decoration: none; }
  @media screen and (min-width: 1440px) {
    .ed-menu.xl-horizontal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .ed-menu.xl-horizontal a {
        text-align: center; }
      .ed-menu.xl-horizontal .expand {
        display: none; }
      .ed-menu.xl-horizontal ul {
        position: absolute;
        left: 0;
        top: 100%;
        min-width: 100%;
        white-space: nowrap; }
        .ed-menu.xl-horizontal ul a {
          text-align: left; }
        .ed-menu.xl-horizontal ul ul {
          top: 0;
          left: 100%; }
      .ed-menu.xl-horizontal li:hover > ul {
        display: block; } }
  .ed-menu.xl-horizontal .expand-submenu {
    position: relative;
    right: 0;
    width: 3em;
    height: 3em;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    @media screen and (min-width: 1440px) {
      .ed-menu.xl-horizontal .expand-submenu {
        display: none; } }
    .ed-menu.xl-horizontal .expand-submenu::after {
      content: "";
      position: absolute;
      width: 40%;
      height: 40%;
      top: 20%;
      left: 30%;
      border-left: 0.45em solid;
      border-bottom: 0.45em solid;
      border-radius: 0.24em;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .ed-menu.xl-horizontal .expand-submenu.active {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .ed-menu.xl-horizontal.default {
    background: #eee; }
    .ed-menu.xl-horizontal.default li:hover {
      background: rgba(0, 0, 0, 0.1); }
    .ed-menu.xl-horizontal.default ul {
      background: #e1e1e1; }
    .ed-menu.xl-horizontal.default a {
      color: #666; }
  .ed-menu.xl-horizontal.nav-bar {
    background: #EEE;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .ed-menu.xl-horizontal.nav-bar li:hover {
      background: rgba(0, 0, 0, 0.1); }
    .ed-menu.xl-horizontal.nav-bar ul {
      background: #e1e1e1; }
    .ed-menu.xl-horizontal.nav-bar a {
      color: #666; }
    .ed-menu.xl-horizontal.nav-bar li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .ed-menu.xl-horizontal.nav-bar li:last-child {
        border-right: none;
        border-bottom: none; }
    .ed-menu.xl-horizontal.nav-bar ul {
      border: 1px solid rgba(0, 0, 0, 0.1); }
      .ed-menu.xl-horizontal.nav-bar ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        .ed-menu.xl-horizontal.nav-bar ul li:last-child {
          border-bottom: none; }
    @media screen and (min-width: 1440px) {
      .ed-menu.xl-horizontal.nav-bar > li {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: none; } }
  .ed-menu.xl-horizontal.button-bar li {
    margin-bottom: .5em;
    margin-right: .5em; }
  .ed-menu.xl-horizontal.button-bar a {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #EEE;
    line-height: 2.5em;
    padding: 0 1.5em;
    border-radius: 4px;
    color: #666; }
    .ed-menu.xl-horizontal.button-bar a:hover {
      background: rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 1023px) {
  .ed-nav.l-top {
    position: fixed;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 100%;
    width: 100%;
    left: 0;
    top: -100%; }
    .ed-nav.l-top.show-menu {
      top: 0; } }

@media screen and (max-width: 1023px) {
  .ed-nav.l-bottom {
    position: fixed;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 100%;
    width: 100%;
    left: 0;
    bottom: -100%; }
    .ed-nav.l-bottom.show-menu {
      bottom: 0; } }

@media screen and (max-width: 1023px) {
  .ed-nav.l-left {
    position: fixed;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 85%;
    left: -85%; }
    .ed-nav.l-left.show-menu {
      left: 0; } }

@media screen and (max-width: 1023px) {
  .ed-nav.l-right {
    position: fixed;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 85%;
    right: -85%; }
    .ed-nav.l-right.show-menu {
      right: 0; } }

@media screen and (max-width: 1439px) {
  .ed-nav.x-top {
    position: fixed;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 100%;
    width: 100%;
    left: 0;
    top: -100%; }
    .ed-nav.x-top.show-menu {
      top: 0; } }

@media screen and (max-width: 1439px) {
  .ed-nav.xl-bottom {
    position: fixed;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 100%;
    width: 100%;
    left: 0;
    bottom: -100%; }
    .ed-nav.xl-bottom.show-menu {
      bottom: 0; } }

@media screen and (max-width: 1439px) {
  .ed-nav.xl-left {
    position: fixed;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 85%;
    left: -85%; }
    .ed-nav.xl-left.show-menu {
      left: 0; } }

@media screen and (max-width: 1439px) {
  .ed-nav.xl-right {
    position: fixed;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 85%;
    right: -85%; }
    .ed-nav.xl-right.show-menu {
      right: 0; } }

@media screen and (max-width: 767px) {
  .ed-nav.m-top {
    position: fixed;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 100%;
    width: 100%;
    left: 0;
    top: -100%; }
    .ed-nav.m-top.show-menu {
      top: 0; } }

@media screen and (max-width: 767px) {
  .ed-nav.m-bottom {
    position: fixed;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 100%;
    width: 100%;
    left: 0;
    bottom: -100%; }
    .ed-nav.m-bottom.show-menu {
      bottom: 0; } }

@media screen and (max-width: 767px) {
  .ed-nav.m-left {
    position: fixed;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 85%;
    left: -85%; }
    .ed-nav.m-left.show-menu {
      left: 0; } }

@media screen and (max-width: 767px) {
  .ed-nav.m-right {
    position: fixed;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 85%;
    right: -85%; }
    .ed-nav.m-right.show-menu {
      right: 0; } }

.nav-toggle {
  position: relative;
  z-index: 300;
  width: 30px;
  height: 20px;
  -webkit-box-shadow: 0 4px #333 inset;
  box-shadow: 0 4px #333 inset;
  cursor: pointer; }
  .nav-toggle::after, .nav-toggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #333;
    bottom: 0; }
  .nav-toggle::after {
    bottom: 8px; }

.s-5,
.ed-item.s-5 {
  width: 5%; }

.s-10,
.ed-item.s-10 {
  width: 10%; }

.s-15,
.ed-item.s-15 {
  width: 15%; }

.s-20,
.ed-item.s-20 {
  width: 20%; }

.s-25,
.ed-item.s-25 {
  width: 25%; }

.s-30,
.ed-item.s-30 {
  width: 30%; }

.s-35,
.ed-item.s-35 {
  width: 35%; }

.s-40,
.ed-item.s-40 {
  width: 40%; }

.s-45,
.ed-item.s-45 {
  width: 45%; }

.s-50,
.ed-item.s-50 {
  width: 50%; }

.s-55,
.ed-item.s-55 {
  width: 55%; }

.s-60,
.ed-item.s-60 {
  width: 60%; }

.s-65,
.ed-item.s-65 {
  width: 65%; }

.s-70,
.ed-item.s-70 {
  width: 70%; }

.s-75,
.ed-item.s-75 {
  width: 75%; }

.s-80,
.ed-item.s-80 {
  width: 80%; }

.s-85,
.ed-item.s-85 {
  width: 85%; }

.s-90,
.ed-item.s-90 {
  width: 90%; }

.s-95,
.ed-item.s-95 {
  width: 95%; }

.s-100,
.ed-item.s-100 {
  width: 100%; }

.s-1-3,
.ed-item.s-1-3 {
  width: 33.33333%; }

.s-2-3,
.ed-item.s-2-3 {
  width: 66.66667%; }

.s-3-3,
.ed-item.s-3-3 {
  width: 100%; }

.s-1-6,
.ed-item.s-1-6 {
  width: 16.66667%; }

.s-2-6,
.ed-item.s-2-6 {
  width: 33.33333%; }

.s-3-6,
.ed-item.s-3-6 {
  width: 50%; }

.s-4-6,
.ed-item.s-4-6 {
  width: 66.66667%; }

.s-5-6,
.ed-item.s-5-6 {
  width: 83.33333%; }

.s-6-6,
.ed-item.s-6-6 {
  width: 100%; }

.s-1-8,
.ed-item.s-1-8 {
  width: 12.5%; }

.s-2-8,
.ed-item.s-2-8 {
  width: 25%; }

.s-3-8,
.ed-item.s-3-8 {
  width: 37.5%; }

.s-4-8,
.ed-item.s-4-8 {
  width: 50%; }

.s-5-8,
.ed-item.s-5-8 {
  width: 62.5%; }

.s-6-8,
.ed-item.s-6-8 {
  width: 75%; }

.s-7-8,
.ed-item.s-7-8 {
  width: 87.5%; }

.s-8-8,
.ed-item.s-8-8 {
  width: 100%; }

@media all and (min-width: 768px) {
  .m-5,
  .ed-item.m-5 {
    width: 5%; }
  .m-10,
  .ed-item.m-10 {
    width: 10%; }
  .m-15,
  .ed-item.m-15 {
    width: 15%; }
  .m-20,
  .ed-item.m-20 {
    width: 20%; }
  .m-25,
  .ed-item.m-25 {
    width: 25%; }
  .m-30,
  .ed-item.m-30 {
    width: 30%; }
  .m-35,
  .ed-item.m-35 {
    width: 35%; }
  .m-40,
  .ed-item.m-40 {
    width: 40%; }
  .m-45,
  .ed-item.m-45 {
    width: 45%; }
  .m-50,
  .ed-item.m-50 {
    width: 50%; }
  .m-55,
  .ed-item.m-55 {
    width: 55%; }
  .m-60,
  .ed-item.m-60 {
    width: 60%; }
  .m-65,
  .ed-item.m-65 {
    width: 65%; }
  .m-70,
  .ed-item.m-70 {
    width: 70%; }
  .m-75,
  .ed-item.m-75 {
    width: 75%; }
  .m-80,
  .ed-item.m-80 {
    width: 80%; }
  .m-85,
  .ed-item.m-85 {
    width: 85%; }
  .m-90,
  .ed-item.m-90 {
    width: 90%; }
  .m-95,
  .ed-item.m-95 {
    width: 95%; }
  .m-100,
  .ed-item.m-100 {
    width: 100%; }
  .m-1-3,
  .ed-item.m-1-3 {
    width: 33.33333%; }
  .m-2-3,
  .ed-item.m-2-3 {
    width: 66.66667%; }
  .m-3-3,
  .ed-item.m-3-3 {
    width: 100%; }
  .m-1-6,
  .ed-item.m-1-6 {
    width: 16.66667%; }
  .m-2-6,
  .ed-item.m-2-6 {
    width: 33.33333%; }
  .m-3-6,
  .ed-item.m-3-6 {
    width: 50%; }
  .m-4-6,
  .ed-item.m-4-6 {
    width: 66.66667%; }
  .m-5-6,
  .ed-item.m-5-6 {
    width: 83.33333%; }
  .m-6-6,
  .ed-item.m-6-6 {
    width: 100%; }
  .m-1-8,
  .ed-item.m-1-8 {
    width: 12.5%; }
  .m-2-8,
  .ed-item.m-2-8 {
    width: 25%; }
  .m-3-8,
  .ed-item.m-3-8 {
    width: 37.5%; }
  .m-4-8,
  .ed-item.m-4-8 {
    width: 50%; }
  .m-5-8,
  .ed-item.m-5-8 {
    width: 62.5%; }
  .m-6-8,
  .ed-item.m-6-8 {
    width: 75%; }
  .m-7-8,
  .ed-item.m-7-8 {
    width: 87.5%; }
  .m-8-8,
  .ed-item.m-8-8 {
    width: 100%; } }

@media all and (min-width: 1024px) {
  .l-5,
  .ed-item.l-5 {
    width: 5%; }
  .l-10,
  .ed-item.l-10 {
    width: 10%; }
  .l-15,
  .ed-item.l-15 {
    width: 15%; }
  .l-20,
  .ed-item.l-20 {
    width: 20%; }
  .l-25,
  .ed-item.l-25 {
    width: 25%; }
  .l-30,
  .ed-item.l-30 {
    width: 30%; }
  .l-35,
  .ed-item.l-35 {
    width: 35%; }
  .l-40,
  .ed-item.l-40 {
    width: 40%; }
  .l-45,
  .ed-item.l-45 {
    width: 45%; }
  .l-50,
  .ed-item.l-50 {
    width: 50%; }
  .l-55,
  .ed-item.l-55 {
    width: 55%; }
  .l-60,
  .ed-item.l-60 {
    width: 60%; }
  .l-65,
  .ed-item.l-65 {
    width: 65%; }
  .l-70,
  .ed-item.l-70 {
    width: 70%; }
  .l-75,
  .ed-item.l-75 {
    width: 75%; }
  .l-80,
  .ed-item.l-80 {
    width: 80%; }
  .l-85,
  .ed-item.l-85 {
    width: 85%; }
  .l-90,
  .ed-item.l-90 {
    width: 90%; }
  .l-95,
  .ed-item.l-95 {
    width: 95%; }
  .l-100,
  .ed-item.l-100 {
    width: 100%; }
  .l-1-3,
  .ed-item.l-1-3 {
    width: 33.33333%; }
  .l-2-3,
  .ed-item.l-2-3 {
    width: 66.66667%; }
  .l-3-3,
  .ed-item.l-3-3 {
    width: 100%; }
  .l-1-6,
  .ed-item.l-1-6 {
    width: 16.66667%; }
  .l-2-6,
  .ed-item.l-2-6 {
    width: 33.33333%; }
  .l-3-6,
  .ed-item.l-3-6 {
    width: 50%; }
  .l-4-6,
  .ed-item.l-4-6 {
    width: 66.66667%; }
  .l-5-6,
  .ed-item.l-5-6 {
    width: 83.33333%; }
  .l-6-6,
  .ed-item.l-6-6 {
    width: 100%; }
  .l-1-8,
  .ed-item.l-1-8 {
    width: 12.5%; }
  .l-2-8,
  .ed-item.l-2-8 {
    width: 25%; }
  .l-3-8,
  .ed-item.l-3-8 {
    width: 37.5%; }
  .l-4-8,
  .ed-item.l-4-8 {
    width: 50%; }
  .l-5-8,
  .ed-item.l-5-8 {
    width: 62.5%; }
  .l-6-8,
  .ed-item.l-6-8 {
    width: 75%; }
  .l-7-8,
  .ed-item.l-7-8 {
    width: 87.5%; }
  .l-8-8,
  .ed-item.l-8-8 {
    width: 100%; } }

@media all and (min-width: 1440px) {
  .xl-5,
  .ed-item.xl-5 {
    width: 5%; }
  .xl-10,
  .ed-item.xl-10 {
    width: 10%; }
  .xl-15,
  .ed-item.xl-15 {
    width: 15%; }
  .xl-20,
  .ed-item.xl-20 {
    width: 20%; }
  .xl-25,
  .ed-item.xl-25 {
    width: 25%; }
  .xl-30,
  .ed-item.xl-30 {
    width: 30%; }
  .xl-35,
  .ed-item.xl-35 {
    width: 35%; }
  .xl-40,
  .ed-item.xl-40 {
    width: 40%; }
  .xl-45,
  .ed-item.xl-45 {
    width: 45%; }
  .xl-50,
  .ed-item.xl-50 {
    width: 50%; }
  .xl-55,
  .ed-item.xl-55 {
    width: 55%; }
  .xl-60,
  .ed-item.xl-60 {
    width: 60%; }
  .xl-65,
  .ed-item.xl-65 {
    width: 65%; }
  .xl-70,
  .ed-item.xl-70 {
    width: 70%; }
  .xl-75,
  .ed-item.xl-75 {
    width: 75%; }
  .xl-80,
  .ed-item.xl-80 {
    width: 80%; }
  .xl-85,
  .ed-item.xl-85 {
    width: 85%; }
  .xl-90,
  .ed-item.xl-90 {
    width: 90%; }
  .xl-95,
  .ed-item.xl-95 {
    width: 95%; }
  .xl-100,
  .ed-item.xl-100 {
    width: 100%; }
  .xl-1-3,
  .ed-item.xl-1-3 {
    width: 33.33333%; }
  .xl-2-3,
  .ed-item.xl-2-3 {
    width: 66.66667%; }
  .xl-3-3,
  .ed-item.xl-3-3 {
    width: 100%; }
  .xl-1-6,
  .ed-item.xl-1-6 {
    width: 16.66667%; }
  .xl-2-6,
  .ed-item.xl-2-6 {
    width: 33.33333%; }
  .xl-3-6,
  .ed-item.xl-3-6 {
    width: 50%; }
  .xl-4-6,
  .ed-item.xl-4-6 {
    width: 66.66667%; }
  .xl-5-6,
  .ed-item.xl-5-6 {
    width: 83.33333%; }
  .xl-6-6,
  .ed-item.xl-6-6 {
    width: 100%; }
  .xl-1-8,
  .ed-item.xl-1-8 {
    width: 12.5%; }
  .xl-2-8,
  .ed-item.xl-2-8 {
    width: 25%; }
  .xl-3-8,
  .ed-item.xl-3-8 {
    width: 37.5%; }
  .xl-4-8,
  .ed-item.xl-4-8 {
    width: 50%; }
  .xl-5-8,
  .ed-item.xl-5-8 {
    width: 62.5%; }
  .xl-6-8,
  .ed-item.xl-6-8 {
    width: 75%; }
  .xl-7-8,
  .ed-item.xl-7-8 {
    width: 87.5%; }
  .xl-8-8,
  .ed-item.xl-8-8 {
    width: 100%; } }

.to-center {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.to-left {
  float: left;
  width: auto;
  margin-right: 1em; }

.to-right {
  float: right;
  width: auto;
  margin-left: 1em; }

.full {
  max-width: 100%; }

.circle {
  border-radius: 50%; }

.clearfix:before, .clearfix:after {
  content: "";
  width: 100%;
  display: table;
  clear: both; }

.no-padding.ed-container > .ed-item {
  padding-left: 0em;
  padding-right: 0em; }

.no-padding.ed-item {
  padding-left: 0em;
  padding-right: 0em; }

.padding {
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.padding-2 {
  padding-left: 1.875em;
  padding-right: 1.875em; }

.padding-3 {
  padding-left: 2.8125em;
  padding-right: 2.8125em; }

body.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }
  body.sticky-footer > footer {
    margin-top: auto; }

.main-justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.main-distribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.main-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.main-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.cross-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.cross-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.cross-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end; }

.flex-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-column-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.abcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.from-s {
  display: none; }

.to-s {
  display: none; }

@media screen and (max-width: 767px) {
  .from-m {
    display: none; } }

@media screen and (min-width: 768px) {
  .to-m {
    display: none; } }

@media screen and (max-width: 1023px) {
  .from-l {
    display: none; } }

@media screen and (min-width: 1024px) {
  .to-l {
    display: none; } }

@media screen and (max-width: 1439px) {
  .from-xl {
    display: none; } }

@media screen and (min-width: 1440px) {
  .to-xl {
    display: none; } }

.ed-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }
  .ed-video > iframe,
  .ed-video > video,
  .ed-video > .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.button {
  background: steelblue;
  color: #333; }
  .button:hover {
    background: #d0d0d0;
    text-decoration: none; }
  .button:active {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97); }

body a {
  color: #000; }

@media screen and (min-width: 1024px) {
  body {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

body header .page__header {
  max-width: 100%;
  height: 4em;
  background: #efb22f;
  -webkit-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000; }
  body header .page__header .header__img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    top: 4.2em;
    position: fixed; }

body main {
  padding: 3em 0; }
  body main img {
    max-height: 8em; }
  body main h1 {
    width: 85%;
    padding: .8em 2em;
    text-align: center;
    border-bottom: 0.2em solid #efb22f; }
  body main .main__logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto; }
    body main .main__logo .main__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 60%; }
    body main .main__logo .form__login {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 60%; }
      body main .main__logo .form__login .login__item {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        padding: .5em 2em; }
        @media screen and (min-width: 1024px) {
          body main .main__logo .form__login .login__item {
            width: 60%; } }
        body main .main__logo .form__login .login__item ul {
          margin: 0;
          padding: 0;
          list-style: none; }
          body main .main__logo .form__login .login__item ul li {
            color: #C1272D;
            line-height: 1; }
      body main .main__logo .form__login .login__item1 {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        padding: .5em 2em; }
        @media screen and (min-width: 1024px) {
          body main .main__logo .form__login .login__item1 {
            width: 60%; } }
      body main .main__logo .form__login .login__item2 {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        padding: .5em 2em; }
        @media screen and (min-width: 1024px) {
          body main .main__logo .form__login .login__item2 {
            width: 60%; } }
      body main .main__logo .form__login .login__item3 {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: .5em 2em; }
        @media screen and (min-width: 1024px) {
          body main .main__logo .form__login .login__item3 {
            width: 60%; } }
      body main .main__logo .form__login .login__item4 {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: .5em 2em; }
        @media screen and (min-width: 1024px) {
          body main .main__logo .form__login .login__item4 {
            width: 60%; } }
      body main .main__logo .form__login span, body main .main__logo .form__login a {
        font-size: .8em; }
      body main .main__logo .form__login a {
        width: 100%;
        text-align: right; }
      body main .main__logo .form__login input[type="email"], body main .main__logo .form__login input[type="password"] {
        width: 90%;
        border: 0.2em solid #efb22f;
        border-radius: 1em;
        padding: .5em .5em;
        outline: none; }
      body main .main__logo .form__login input[type="email"]:focus, body main .main__logo .form__login input[type="password"]:focus {
        border-radius: 1em !important; }
      body main .main__logo .form__login input[type="submit"] {
        background: #efb22f;
        padding: .5em 1em;
        color: #fff;
        border-radius: 1em;
        border: 0px; }
        body main .main__logo .form__login input[type="submit"]:hover {
          cursor: pointer;
          outline: none; }
  body main .page__register {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0%;
    height: 100vh;
    position: fixed;
    z-index: 0; }
    body main .page__register .register__title {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      height: 4em;
      position: fixed;
      top: 30%;
      font-weight: bold; }
    body main .page__register .register__form {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      width: 80%; }
      body main .page__register .register__form .form__container {
        margin-top: 40px;
        padding: 1em;
        border: 0.1em solid #efb22f; }
        body main .page__register .register__form .form__container .container__item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          padding: 1em 0 1em 0; }
          body main .page__register .register__form .form__container .container__item label {
            font-weight: bold; }
          body main .page__register .register__form .form__container .container__item input[type='text'] {
            outline: none;
            padding: .2em; }
        body main .page__register .register__form .form__container .form__button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          width: 40%;
          padding: 1em; }
          body main .page__register .register__form .form__container .form__button input {
            width: 10em;
            background: #efb22f;
            color: #fff;
            padding: .5em;
            border: none; }
          body main .page__register .register__form .form__container .form__button input:hover {
            cursor: pointer; }

body footer .page__footer {
  max-width: 100%;
  font-size: .8em; }
  body footer .page__footer .footer__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: .5em 1em;
    border-bottom: 1em solid #efb22f; }
    @media screen and (min-width: 768px) {
      body footer .page__footer .footer__title {
        width: 50%; } }
  body footer .page__footer .footer__info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .5em 1em;
    border-bottom: 1em solid #60a8fa; }
    @media screen and (min-width: 768px) {
      body footer .page__footer .footer__info {
        width: 50%; } }
