.ed-menu {
  width: 100%;
}
.ed-menu, .ed-menu ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.ed-menu li {
  position: relative;
}
.ed-menu ul {
  position: absolute;
  display: none;
}
.ed-menu a {
  display: block;
  width: 100%;
  line-height: 2em;
  padding: 0 1em;
}
.ed-menu a:hover {
  cursor: pointer;
}
.ed-menu.default > li, .ed-menu.nav-bar > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.ed-menu.default > li:hover, .ed-menu.nav-bar > li:hover {
  border-bottom: 1px solid #fff;
}
.ed-menu.default ul, .ed-menu.nav-bar ul {
  background: rgba(0, 0, 0, 0.2);
}
.ed-menu.default ul li:hover, .ed-menu.nav-bar ul li:hover {
  background: rgba(0, 0, 0, 0.4);
}
.ed-menu.default ul a, .ed-menu.nav-bar ul a {
  text-align: left;
  font-size: 0.9em;
}
.ed-menu.default a, .ed-menu.nav-bar a {
  color: #fff;
}
.ed-menu.nav-bar {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.ed-menu.nav-bar li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.ed-menu.nav-bar li:last-child {
  border-right: none;
}
.ed-menu.nav-bar ul {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.ed-menu.nav-bar ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.ed-menu.nav-bar ul li:last-child {
  border-bottom: none;
}
.ed-menu.button-bar li {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}
.ed-menu.button-bar a {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  background: #eee;
  line-height: 2.5em;
  margin-right: 0.5em;
  padding: 0 1.5em;
  border-radius: 4px;
  color: #666;
}
.ed-menu.button-bar a:hover {
  background: rgba(0, 0, 0, 0.1);
}