// Colors

$verde: rgb(0, 103, 221);
$lightGreen: rgb(96, 168, 250); 
$gris: #4D4D4D;
$rojo: #C1272D;
$negro: #000;
$blanco: #fff;

// Fonts
$letra: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
